name: Pipeline 3 - E2E / Deploy

on:
  workflow_run:
    workflows: ["Pipeline 2 - Testes de Integração"]
    types:
      - completed

jobs:
  e2e_or_deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask flask-swagger-ui flask-jwt-extended requests

      - name: Run E2E / Deploy
        run: |
          echo "Aqui você rodaria testes E2E ou deploy"
