name: Pipeline 2 + 3 - Build e Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:  # permite rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: echo "Build finalizado"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
      - uses: actions/checkout@v3
      - run: pip install -r requirements.txt
      - run: npm install -g vercel
      - run: vercel --prod --token $VERCEL_TOKEN --confirm --project $VERCEL_PROJECT_ID
