name: Pipeline 3 - Deploy

on:
  workflow_call:
    inputs:
      vercel_token:
        required: true
        type: string
      vercel_project_id:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel
        run: vercel --prod --token ${{ inputs.vercel_token }} --confirm --project ${{ inputs.vercel_project_id }}
