name: Pipeline 3 - Deploy

on:
  workflow_run:
    workflows: ["Pipeline 2 - Testes de Integração"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Load .env
        run: |
          export $(grep -v '^#' .env | xargs)

      - name: Deploy to Vercel
        run: |
          vercel --prod --token $VERCEL_TOKEN --confirm --project $VERCEL_PROJECT_ID
